*{
    margin: 0px;
    padding: 0px;
}

/* common shared styles */

body{
    font-family: 'Lato', sans-serif;
}

/* header related styles */

.header{
    height: 500px;
    background-color: #E554731A;
    padding: 0px 120px;
    margin-bottom: 100px;
}

 .img{
    width: 400px;
    height: 450px;
    margin-top: 50px;
}



.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title{
    color: #272727;
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 20px;
}

.description{
    color: #27272799;
    font-size: 10px;
    font-weight: 400;
    
}

.btn{
    margin-top: 20px;
    color: #FFF;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    background: #E55473;
    border: 0px;
    padding: 10px 20px;

}

/* featured section */

.featured{
    margin-bottom: 150px;
}

.featured-text{

    text-align: center;
}

.featured-title{
    margin-bottom: 20px;
    color: #272727;
    font-size: 25px;
    font-weight: 800;

}

.featured-description{

    color: #27272799;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;
}

.featured-img{
  display: flex;
  width: 85vw;
  margin: 0 auto;
}

.bg-one{
    border-radius: 300px 300px 0px 0px;
    background: #a7216226;
    width: 250px;
    height: 300px;
    padding: 50px;
}

.bg-two{
    border-radius: 300px 300px 0px 0px;
    background: #0597a026;
    width: 250px;
    height: 300px;
    padding: 50px;
    margin: 0px 0px 0px 20px;
}

.bg-three{
    border-radius: 300px 300px 0px 0px;
    background: #477d1126;
    width: 250px;
    height: 300px;
    padding: 50px;
    margin: 0px 0px 0px 20px;
}

.featured-border-img{
    width: 240px;
    height: 350px;
    margin: 1px 0px 10px 20px;
   
}

.pft{
    text-align: center;
    color: #272727;
    font-weight: 700;
    text-decoration-line: underline;
    
}

/* hot deal styles */

.hot-container{
border-radius: 8px;
background: #e554730d;
height: 450px;
display: flex;
align-items: center;
justify-content: space-around;
margin-bottom: 100px;
}

.hot-btn{
    margin-top: 20px;
    color: #FFF;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    background: #E55473;
    border: 0px;
    padding: 10px 20px;
    text-align: center;
    margin-left: 220px;
    
}

.hot-title{
color: #272727;
font-size: 30px;
font-weight: 800;
margin-bottom: 20px;
text-align: center;
}

.off{
    color: #E55473;
}

.hot-description{
    color: #27272799;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}

/* instagram related styles */

.instagram-text{

    text-align: center;
}

.instagram-title{
    margin-bottom: 20px;
    color: #272727;
    font-size: 25px;
    font-weight: 800;

}

.instagram-description{

    color: #27272799;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 50px;
}

.instagram-img{
    width: 85vw;
    margin: 0 auto;
}

.insta-pic{
    width: 220px;
    height: 255px;
    margin-left: 20px;
}

.instagram{
    margin-bottom: 100px;
}

.latest-deal{
    width: 85vw;
    margin: 0 auto;
    back
}